:root {
  --primary-dark: #333;
  --background-grey: #ededed;
  --background-color: rgba(255, 255, 255, 0);
  --grid-size: 20;
  --cube-size: 30px;
}

body {
  font-family: 'Poppins';
  margin: 0px;
  color: var(--primary-dark);
  background-color: var(--background-grey);
}

#header {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  height: 100px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#main {
  /* height: 100vh;  */
  position: relative;
}

#grid-page {
  /* border: 1px solid black; */
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 125px;
  padding: 10px;
}

#grid-page .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-container .grid-container-title {
  font-size: 28px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(calc(var(--grid-size) + 1), var(--cube-size));
  grid-template-rows: repeat(calc(var(--grid-size) + 1), var(--cube-size));
}

.cube {
  width: var(--cube-size);
  height: var(--cube-size);
  border: 1px solid lightgray;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cube.miss, .cube.highlight {
  background-color: lightgray;
  border: 1px solid transparent;
  z-index: 1;
}

.cube.placed {
  background-color: #333;
  border: 1px solid #333;
  z-index: 2;
}

.cube.hit {
  background-color: red;
  border: 1px solid red;
  z-index: 2;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-overlay, #end-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
}

#start-overlay.active, #end-overlay.active {
  opacity: 1;
  pointer-events: all;
}

#start {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  /* Hidden */
  z-index: 10;
  background-color: var(--background-grey);

  padding: 20px;
  max-width: 80%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

#start.active {
  transform: translate(-50%, -50%) scale(1);
}

.button {
  width: 90px;
  height: 40px;
  /* background-color: #lightgrey; */
}


#end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  /* Hidden */
  z-index: 10;
  background-color: var(--background-grey);

  width: 700px;
  height: 300px;

  padding: 20px;
  max-width: 80%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

#start.active, #end.active {
  transform: translate(-50%, -50%) scale(1);
}
