:root {
  --primary-dark: #333;
  --background-grey: #ededed;
  --background-color: rgba(255, 255, 255, 0);
  --blue: #377bb3;
  --red: #E92B2B;
  --grid-size: 20;
  --cube-size: 28px;
}

p {
  margin: 4px;
}

hr {
  color: black;
  width: 400px;
}

body {
  font-family: 'Poppins';
  margin: 0px;
  color: var(--primary-dark);
  background-color: var(--background-grey);
}

#header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  height: 150px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0px;
}

#header #title {
  color: var(--blue);
  position: absolute;
  /* bottom: 0px; */
}

#main {
  position: relative;
}

.button {
  width: 90px;
  height: 40px;
}

#grid-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  padding: 10px;
}

#grid-page .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-container .grid-container-title {
  font-size: 28px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(calc(var(--grid-size) + 1), var(--cube-size));
  grid-template-rows: repeat(calc(var(--grid-size) + 1), var(--cube-size));
  justify-content: center;
  align-items: center;

  grid-gap: 1px;
}

.cube {
  width: var(--cube-size);
  height: var(--cube-size);
  /* border: 1px solid lightgray; */
  box-shadow:0 0 0 1px lightgray;
  cursor: crosshair;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cube.miss, .cube.highlight {
  background-color: lightgray;
  box-shadow:0 0 0 1px lightgray;
  z-index: 1;
}

.cube.placed {
  background-color: #333;
  box-shadow:0 0 0 1px #333;
  z-index: 2;
}

.cube.hit {
  background-color: var(--red);
  box-shadow:0 0 0 1px var(--red);
  z-index: 2;
}

.label {
  width: var(--cube-size);
  height: var(--cube-size);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Setup Page */
#setup-overlay, #end-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
}

#setup-overlay.active, #end-overlay.active {
  opacity: 1;
  pointer-events: all;
}

#setup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  /* Hidden */
  z-index: 10;
  background-color: var(--background-grey);

  padding: 20px;
  width: 500px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: crosshair;
}

#setup.active {
  transform: translate(-50%, -50%) scale(1);
}

#setup .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ship-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ship-list .ship {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.ship .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship .fa-circle-check {
  color: green;
  visibility: hidden;
}

.ship .fa-circle-check.active {
  visibility: visible;
}

.ship .fa-circle-xmark {
  color: var(--red);
  position: relative;
  right: 16px;
  visibility: hidden;
}

.ship .fa-circle-xmark.active {
  visibility: visible;
}

#setup #title {
  font-size: 28px;
  margin: 0px;
}

/* Result page */
#end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  /* Hidden */
  z-index: 10;
  background-color: var(--background-grey);

  width: 450px;
  height: 250px;

  padding: 20px;
  max-width: 80%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#setup.active, #end.active {
  transform: translate(-50%, -50%) scale(1);
}

#message {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 0.1em;
}